version: '3'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "3002:3005"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
